@charset "UTF-8";

* {
    font-family: Verdana, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* ELEMENTOS DA INTERFACE */

body {
    background-color: #949494;
    background-image: linear-gradient(180deg, #372991, #15142b); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

header, main, section, article {
    max-width: 900px;
}

header > h1 {
    color: white;
    text-shadow: 3px 3px 0px black;
}

main, section, article {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(230, 230, 230, 0.502);
}

footer {
    display: block;
    width: 100vw;
    background-color: #291f6c;
    color: white;
    text-align: center;
    margin-top: auto;
    padding: 5px;
}

p {
    text-align: justify;
    line-height: 1.5em;
}

h2, h3, h4 {
    color: #372991;
    margin: 0 0 10px 0;
}


a:hover {
    color: #01000a;
    border-bottom: 1px solid #372991;
}

/* TABELAS E LISTAS */

table {
    min-width: 400px;
    border-spacing: 1px;
    border: 0.5px solid #000000;
    margin: 10px auto;
}

table th {
    background-color: #070849;
    color: rgb(255, 255, 255);
    padding: 6px;
    text-align: left;
}

table td {
    padding: 8px;
}

table tr {
    background-color: rgba(55, 41, 145, 0.05);
}

table tr:nth-child(odd) {
    background-color: rgba(55, 41, 145, 0.3);
}

table.divisao {
    border: 1px solid white;
}

table.divisao td {
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 2.5em;
}

table.divisao  tr:nth-child(1) td:nth-child(2) {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

table.divisao tr:nth-child(2) td:nth-child(2) {
    border-left: 3px solid black;
}

table.divisao tr:nth-child(2) td:nth-child(1) {
    text-decoration: underline;
}

ul > li::marker {
    color: #372991;
}

/* ELEMENTOS DE FORMULÃRIO */

form {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
}

form label {
    display: block;
    width: fit-content;
    font-size: large;
    font-weight: bold;
    background-color: rgba(211, 208, 208, 0.2);
    padding: 3px 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
}

input[type=text], select, input[type=date], input[type=datetime-local], input[type=time] {
    width: 100%;
    padding: 12px 20px;
    font-size: 1em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #030636;
    border-radius: 4px;
    box-sizing: border-box;
    
}


  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}


fieldset {
    border: 0.5px dotted #372991;
}

fieldset > legend {
    font-size: 0.8em;
    font-weight: 100;
    background-color: rgba(55, 41, 145, 0.2);
    padding: 3px 7px;
    border-radius: 5px;
}

input[type=radio] + label, input[type=checkbox] + label {
    display: inline-block;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
}

p {
    width: 100%;
    background-color: #000000;
    font-size: 1em;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

a{
    color: rgb(255, 255, 255);
    
}